//* ----------------- CONTAINER ---------------- *\\

.container {
    max-width: 135rem;
    margin: 0 auto;
    box-shadow: var(--shadow-dark);
    @media only screen and (max-width: $bp-4000) and (min-width: $bp-2500) {
        max-width: 165rem;
    }
    @media only screen and (max-width: 3000px) and (min-width: 141.3125em) {
        max-width: 165rem;
    }

    @media only screen and (max-width: $bp-1400) {
        padding: 0 3rem;
    }
    @media only screen and (max-width: $bp-800) {
        padding: 0 1.8rem;
    }
    @media only screen and (max-width: $bp-600) {
        padding: 0 1.8rem;
    }
    @media only screen and (max-width: $bp-375) {
        padding: 0 1.5rem;
    }
}

//* -------------- MAIN NAVIGATION  ------------- *\\

.main__navigation {
    font-size: 2rem;
    font-weight: 700;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//* ----------------- MAP SECTION ---------------- *\\
.map-section {
    min-height: calc(30vh - 6rem);
    background-color: var(--dark-3);
    padding-top: 6rem;
}
.data-section {
    height: 43rem;
    max-width: 100%;
    // background-color: var(--dark-3);
    @media only screen and (max-width: $bp-1400) {
        min-height: 60rem;
    }
    @media only screen and (max-width: $bp-735) {
        min-height: 60rem;
    }
    @media only screen and (max-width: $bp-600) {
        min-height: 55rem;
    }
    @media only screen and (max-width: $bp-600) {
        min-height: 70rem;
    }
    @media only screen and (max-width: $bp-450) {
        min-height: 70rem;
    }
    @media only screen and (max-width: $bp-375) {
        min-height: 60rem;
    }
    @media only screen and (max-width: $bp-350) {
        min-height: 70rem;
    }
}
.data-section-lang {
    @media only screen and (max-width: $bp-450) {
        min-height: 77rem !important;
    }
}

//* ---------------- TABLE SECTION --------------- *\\
.table-section,
.table-section-arabic {
    // max-height: 75vh;
    width: 100%;
    min-height: 60rem;
    // background-color: var(--dark-3);
    padding-top: 2rem;
}

//* ---------------- CHART SECTION --------------- *\\

.chart-section {
    // padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: 96rem;
    // background-color: var(--dark-3);
}

//* ---------------- FOOTER SECTION --------------- *\\

.footer-section {
    min-height: 28rem;
    width: 100%;
    background-color: var(--dark-4);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    padding-top: 1rem;
    @media only screen and (max-width: $bp-375) {
        box-shadow: inset 0 0 2rem 0 rgba(73, 80, 87, 0.17);
        border-top-right-radius: 2.5rem;
        border-top-left-radius: 2.5rem;
    }
}
