.card__box {
    min-width: 43rem;
    background-color: var(--dark-4);
    border: 0.3rem solid var(--dark-4);
    border-radius: 1.3rem;
    // height: 100%;

    padding: 1.5rem;
    -webkit-box-shadow: 0 0 4rem 0 rgba(13, 14, 15, 0.15);
    box-shadow: 0 0 3rem 0 rgba(64, 65, 66, 0.2);
    border-radius: 0.5rem;
    margin: 1rem;
    position: relative;

    @media only screen and (max-width: $bp-735) {
        min-width: 35rem;
    }
    @media only screen and (max-width: $bp-600) {
        min-width: 26rem;
    }
    @media only screen and (max-width: $bp-450) {
        min-width: 20rem;
        margin: 0.7rem;
        padding: 1;
    }

    @media only screen and (max-width: $bp-375) {
        min-width: 18rem;
        margin: 0.45rem;
        padding: 1rem;
    }
    @media only screen and (max-width: $bp-350) {
        min-width: 18rem;
        margin: 0.45rem;
        padding: 1;
    }

    &--icon {
        .icon {
            width: 5rem;
            height: 5rem;
            position: absolute;
            top: 1rem;
            right: 1rem;

            @media only screen and (max-width: $bp-735) {
                width: 4rem;
                height: 4rem;
                margin-left: 1rem;
            }
            @media only screen and (max-width: $bp-400) {
                width: 3.7rem;
                height: 3.7rem;
                top: 1rem;
                right: 1rem;
            }
            @media only screen and (max-width: 20em) {
                display: none;
            }
        }
        .icon-ar {
            width: 5rem;
            height: 5rem;
            position: absolute;
            top: 1rem;
            left: 1rem;

            @media only screen and (max-width: $bp-735) {
                width: 4rem;
                height: 4rem;
                margin-right: 1rem;
            }
            @media only screen and (max-width: $bp-400) {
                width: 3.7rem;
                height: 3.7rem;
                top: 1rem;
                left: 1rem;
            }
            @media only screen and (max-width: 20em) {
                display: none;
            }
        }
    }

    &--info {
        font-family: var(--font--primary);
        color: var(--color-grey-light-1);
        // @media only screen and (max-width: $bp-450) {
        //     white-space: pre;
        // }

        .info-increase {
            text-align: center;
            font-family: inherit;
            // background-color: var(--danger);
            color: inherit;
            font-size: 1.5rem;
            font-weight: 700;
            padding: 0.16rem 0.5rem;
            border-radius: 0.4rem;
            letter-spacing: 0.5px;

            @media only screen and (max-width: $bp-735) {
                padding: 0.3rem 0.5rem;
            }
            @media only screen and (max-width: $bp-450) {
                font-size: 1.4rem;
            }
        }

        .info-inc-Ar {
            @media only screen and (max-width: $bp-500) {
                font-size: 1.6rem;
            }
            @media only screen and (max-width: $bp-414) {
                font-size: 1.6rem;
            }
        }
        #Inc {
            background-color: var(--success);
        }

        .info-text {
            font-size: 1.5rem;
            color: var(--color-grey-light-2);
            @media only screen and (max-width: $bp-735) {
                font-size: 1.5rem;
            }
            @media only screen and (max-width: $bp-450) {
                font-size: 1.4rem;
            }
        }

        .info-ar {
            @media only screen and (max-width: $bp-500) {
                font-size: 1.7rem;
            }
            @media only screen and (max-width: $bp-414) {
                font-size: 1.7rem;
            }
            #text {
                @media only screen and (max-width: $bp-414) {
                    font-size: 1.7rem;
                }
            }
            @media only screen and (max-width: $bp-375) {
                font-size: 1.5rem;
            }
        }
    }
    .box-active {
        height: 1rem;
    }
    .success {
        background-color: var(--success) !important;
    }
    .danger {
        background-color: var(--danger) !important;
    }
}
