.table__responsive {
    margin-bottom: 3rem;
    display: block;
    width: 100%;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    position: relative;

    // @media only screen and (max-width: $bp-600) {
    //     overflow-x: scroll;
    //     overflow-y: hidden;
    //     white-space: nowrap;
    // }
    @media only screen and (max-width: $bp-450) {
        display: inline;
        text-align: center;
    }
}

.table_responsive-ar {
    max-height: 69.4rem !important;
}
.main__table-ar {
    height: 100% !important;
}
.main__table {
    // height: 100%;
    // position: relative;

    @media only screen and (max-width: $bp-1100) {
        overflow-x: scroll;
        overflow-y: auto;
        white-space: nowrap;
    }

    .table-bordered {
        border: var(--border-primary) !important;
        border-radius: 6px !important;
        border-left: 0px !important;
        border-top: 0px !important;

        td,
        th {
            border-left: var(--border-white);
            border-top: var(--border-white);
        }
    }
    .table-bordered > :first-child > :first-child > :first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .table-bordered > :last-child > :last-child > :last-child {
        // border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .table-bordered > thead:first-child > tr:first-child > th {
        border-bottom: 0px;
        border-top: solid rgb(192, 192, 192) 0.5px;
    }
    .table-bordered > :last-child > :last-child > :first-child {
        border-bottom-left-radius: 6px;
    }
    .table-bordered > :last-child > :last-child > :last-child {
        border-bottom-right-radius: 6px;
    }
    .table-bordered > :first-child > :first-child > :last-child {
        border-top-right-radius: 6px;
    }
    .table__main {
        // overflow: auto;

        // width: 100%;
        // // border-collapse: separate;
        // border-spacing: 0;
        // empty-cells: show;
        // border: var(--border-primary);
        // color: var(--color-white);
        // border-radius: 1rem !important;
        clear: both;
        margin-top: 6px !important;
        margin-bottom: 6px !important;
        max-width: none !important;
        border-collapse: separate !important;
        border-spacing: 0;

        th,
        td {
            // border-width: 0 0 0 1px;
            font-size: inherit;
            margin: 0;
            overflow: visible; /*to make ths where the title is really long work*/
            padding: 0.5em 1em; /* cell padding */

            // &:not(:last-child) {
            //     border-right: var(--border-white);
            // }
        }

        thead {
            //border-bottom: var(--border-white);
            color: var(--color-white);
            text-align: left;
            vertical-align: bottom;

            th {
                top: 0;
            }
        }
    }

    .table__main-ar {
        th,
        td {
            &:not(:last-child) {
                border-left: var(--border-white);
            }
        }
    }
    .table__header {
        &--row {
            border-bottom: var(--border-white);
            // text-align: center;
            td {
                text-align: center;
            }
        }

        // &--items {
        // }
    }

    .table__body-ar {
        &--row {
            font-family: var(--font-primary);
            font-weight: 400;

            // td:not(:first-child) {
            //     border-top: var(--border-white);
            //     padding: 0.7rem 0.8rem;
            // }

            // td {
            //     font-size: 1.6rem;
            //     font-weight: 500;
            //     border-top: var(--border-white);
            //     text-align: center;
            // }
            // td:not(:nth-child(2n)) {
            //     text-align: center;
            // }
        }
    }
    .table__body {
        &--row:nth-of-type(odd) {
            background-color: var(--dark-4);
        }

        &--row {
            // font-family: var(--font-primary);
            // font-weight: 400;

            // // .bord-rad:first-child {
            // //     background: red;
            // // }

            // td:not(:first-child) {
            //     border-top: var(--border-white);
            //     padding: 0.7rem 0.8rem;
            // }

            // td {
            //     font-size: 1.6rem;
            //     font-weight: 500;
            //     border-top: var(--border-white);
            //     // border-bottom: var(--border-white);
            //     text-align: center;
            // }
            // td:not(:nth-child(2n)) {
            //     text-align: center;
            // }

            .td-items {
                text-align: center;
            }
            .badge-warning {
                font-family: inherit;
                // background-color: var(--warning);
                background-color: #ffeeaa;
                color: var(--color-black);
                font-weight: 700 !important;
            }
            .badge-danger {
                font-family: inherit;
                color: var(--color-white);
                background-color: #e46964;
                font-weight: 700 !important;
            }
            .badge-good {
                font-family: inherit;
                background-color: var(--good);
                color: var(--color-black);
                font-weight: 700 !important;
            }
            #badge-danger {
                font-family: inherit;
                color: var(--color-white);
                background-color: #e46964;
                font-weight: 700 !important;
            }
            #badge-good {
                font-family: inherit;
                background-color: var(--good);
                color: var(--color-black);
                font-weight: 700 !important;
            }

            #badge-info {
                font-family: inherit;
                background-color: var(--info);
                color: var(--color-white);
                font-weight: 700 !important;
            }
        }
    }

    .table__icon {
        height: 1.5rem;
        width: 2rem;
        border-radius: 2px;
        margin-right: 0.7rem;
        margin-left: 0.7rem;
    }
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
    @media only screen and (max-width: $bp-large) {
        position: sticky;
        left: 0;
    }
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
    margin-top: 1rem !important;
    max-height: 6rem;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.3em 0.8em;
    // margin-left: 2px;
    margin: 0;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: var(--color-white) !important;
    border: var(--border-secondary);
    border-radius: 2px;
    background-color: rgb(26, 26, 26) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: var(--color-black) !important;
    border: 1px solid #6c757d;
    background-color: #d0d4d8;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #fff),
        color-stop(100%, #dcdcdc)
    );
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #6c757d;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #2b2b2b),
        color-stop(100%, #0c0c0c)
    );
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
    box-shadow: inset 0 0 3px #111;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em;
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.3em 0.8em;
    // margin-left: 2px;
    margin: 0;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: var(--color-white) !important;
    border: var(--border-secondary);
    border-radius: 2px;
    background-color: rgb(26, 26, 26) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: var(--color-black) !important;
    border: var(--border-secondary);
    background-color: #fcfcfc;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fcfcfc),
        to(rgb(230, 230, 231))
    );
    background: linear-gradient(to bottom, #fcfcfc 0%, rgb(230, 230, 231) 100%);
}

.dataTables_wrapper .dataTables_filter {
    padding-bottom: 1.5rem;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: var(--color-white) !important;
}
.dataTables_wrapper .dataTables_length select {
    border: var(--border-white);
    border-radius: 0.3rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.4rem;
    margin-bottom: 3rem;
    color: var(--color-white) !important;
    option {
        color: var(--color-black) !important;
    }
}
.dataTables_wrapper {
    color: var(--color-white) !important;

    .dataTables_filter input {
        border: var(--border-primary);
        border-radius: 0.3rem;
        padding: 0.7rem !important;
        background-color: rgba(255, 255, 255, 0.1) !important;
        margin-left: 0.3rem;
        width: 25rem;
        margin-left: 1rem !important;
        color: var(--color-white) !important;
    }
    .dataTables_filter input::placeholder {
        color: var(--color-white) !important;
    }
    label {
        @media only screen and (max-width: $bp-large) {
            position: sticky;
            left: 0;
        }
    }
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
    margin-top: 1rem !important;
}
div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
    font-size: 2rem !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
    text-align: left;
    @media only screen and (max-width: $bp-large) {
        position: sticky;
        left: 0;
    }
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.pagination > .disabled > span,
.light-theme .pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: white !important;
    cursor: not-allowed !important;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}
.table.dataTable thead th,
table.dataTable thead td {
    border-bottom: none !important;
}

.freeze-lang {
    // text-align: right !important;
    // position: sticky !important;
    // position: -webkit-sticky !important;
    // left: 0px !important;
    // z-index: 600 !important;
    // transform: translateZ(0);
    // -webkit-transform: translateZ(0);
    // @media only screen and (max-width: $bp-999) {
    //     background-color: var(--dark-3);
    // }
}
.freeze {
    text-align: left;
    position: sticky;
    position: -webkit-sticky;
    left: 0px;
    z-index: 600;
    @media only screen and (max-width: $bp-999) {
        background-color: var(--dark-3);
    }
}
#table-rank {
    @media only screen and (max-width: $bp-999) {
        padding: 0.5em 0.5em !important;
    }
    @media only screen and (max-width: $bp-414) {
        padding: 0.5em 0.5em !important;
    }
}
