//* -------------- HEADER ------------- *\\

.header {
    color: var(--color-white);
    background-color: #1a1d20;
    padding: 0;
    transition: all 0.7s;
    direction: ltr;

    // @include responsive(tablet-landscape) {
    //     width: 100vw;
    // }
    // @media only screen and (max-width: $bp-xlarge) {
    //     width: 100vw;
    // }
}

#header {
    // height: 110px;
    // padding: 0.5rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 9700;
}
#header.header-scrolled,
#header.header-pages {
    // height: 70px;

    background-color: #24272b;
    box-shadow: 0px 0px 20px rgba(76, 78, 82, 0.2);

    .mobile-nav-toggle {
        position: fixed;
        right: 3rem;
        top: 2.6rem;
    }
}

// .header.sticky {
//     transition: all 0.7s;
//     position: fixed;
//     left: 0;
//     top: 0;
//     right: 0;
//     z-index: 500;
//     padding: 0.5rem 0;
// }
