.title {
    // padding-top: 7rem;
    // height: 10rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--dark-3);

    &__image {
        height: 5rem;
        width: 5rem;
        margin-right: 1.6rem;
    }

    &__text {
        font-size: 3.5rem;
        font-weight: 400;
    }
}

.web-title {
    min-height: 17rem;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 2rem;

    @media only screen and (max-width: $bp-450) {
        margin-bottom: 1rem;
        min-height: 20rem;
    }
}
